<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/css/addspace.css" type="text/css">
<body>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">MakersAirbnb</a>
  <form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

</nav>

<h1>Add your space details</h1>
   <form action="/spaces" method="post" id="addspaceform">
    <label>Space name: <input type="text" name="space_name" required></label>
    <br>
    <br>
    <label>Description:<br><textarea name ="space_description" required></textarea></label>
    <br>
    <br>
    <label>Address: <input type="text" name="space_address" required></label>
    <br>
    <br>
    <label>Price per night: £<input type="number" name="space_price" required></label>
    <input type="submit" name="Submit">
  </form>

</body>
