<h1>Add your space details</h1>
   <form action="/spaces" method="post">
    <label>Space name: <input type="text" name="space_name" required></label>
    <br>
    <br>
    <label>Description:<br><textarea name ="space_description" required></textarea></label>
    <br>
    <br>
    <label>Address: <input type="text" name="space_address" required></label>
    <br>
    <br>
    <label>Price per night: £<input type="number" name="space_price" required></label>
    <input type="submit" name="Submit">
  </form>
