<html>
  <h1>MakersAirbnb</h1>

  <%= login %>
  <%= name %>
  <%= password %>
  <form class="" action="/login" method="post">
    Login:
    <input type="text" name="username">
    <input type="text" name="password">
    <input type="submit" name="login" value="login">

  </form>
</html>
