<html>
  <body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/registration.css">

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">MakersAirbnb</a>
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

    </nav>

    <h1>Register for Makers AirBNB</h1>
    <form action="/spaces" method="post" id="registerform">
      Username:<input type="text" name="username"><br><br>
      Password:<input type="text" name="password"><br><br>
      <input type="submit" name="Register" value="Register" id="button">
    </form>
  </body>

<div class="row">
  <div class="column">
    <img src="http://www.the-culture.co/wp-content/uploads/2015/04/weirdest-coolest-places-to-stay-on-airbnb-the-culture-collective-35.jpg" id="BnBTent" style="width:90%"/>
  </div>
<div class="column">
  <img src="http://www.californiaweekendmag.com/wp-content/uploads/2016/08/joshua-tree-airbnb-california-weeknd-1073x715.jpg" id="BnbBali" style="width:90%"/>
</div>
<div class="column">
  <img src="https://nordicdesign.ca/wp-content/uploads/2015/06/Best-Places-to-Rent-on-Airbnb-in-Copenhagen-11b.jpg" id="BnBCopenhagen" style="width:90%"/>
</div>
</div>
</html>
