<html>
  <body>
    <h1>GIVE ME ALL YOUR MONEY</h1>

    <form action="/signup" method="POST">
      <input type="text" name="name">
      <input type="text" name="email">
      <input type="submit" name="submit">
    </form>
  </body>
</html>
