
.span-carousel {
  position: flex;
  width: 200px;
  height: 100px;
}

body, html {
  vertical-align: middle;

  height: 100%;
  text-align: center;
  color: black;
  font-size: 25px;
  font-family: monospace;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.bg {
  background-image: url("https://cdn-image.travelandleisure.com/sites/default/files/1501785321/funky-loft-studio-airbnb-rental-paris-france-AIRBNBPARIS0817.jpg");
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  height:100%;
}
